body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #1a2c38;
}

.container {
  text-align: center;
}

.banner-img {
  width: 100%;
}

#local {
  width: 100%;
  padding: 15px 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bolder;
  font-family: monospace;
  color: #c6ab8d;
}

.city-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city {
  position: relative;
  width: 250px;
  height: 150px;
  margin: 1.5rem auto;
  padding: 1rem;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  margin: 1rem;
  box-shadow: 5px 5px 8px rgb(79, 78, 78);
}

.city img {
  width: 100%;
  height: auto;
}

.city-name,
.city-time {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: rgb(25, 25, 25);
  font-size: 1.2rem;
  backdrop-filter: blur(3px);
  border-radius: 4px;
  padding: 0.3rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.city-name {
  text-decoration: underline;
  padding-bottom: 0.5rem;
  bottom: 35px;
  font-weight: bold;
}
